@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');

/* COLOURS */
$content-bg: #666;
$nav-bg: #333;
$p-text: #B3B3B3; 
$off-white: #F6F6F6;

/* FONTS */
$title-font: 'Playfair Display', serif;
$logo-font: 'Raleway', sans-serif;