@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

/* COLOURS */
$content-bg: #666;
$nav-bg: #333;
$p-text: #B3B3B3; 
$off-white: #F6F6F6;

/* FONTS */
$main-font: 'Raleway', sans-serif;
$header-font: 'Dancing Script', cursive;