<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Desmond Ross</title>
    <link rel="stylesheet" type="text/css" href="dist/css/styles.css">
</head>
<body>
	<div class="columns is-gapless">
		<div class="column is-3 nav">
			<div class="columns">
				<div class="column is-8 is-offset-2 nav-logo-text"</div>
		    		<h1>DESMOND</h1>
		    		<h1>ROSS</h1>
		    		<ul>
		    			<li>COLLECTIONS</li>
		    			<li>PRICING</li>
		    			<li>ABOUT</li>
		    			<li>CONTACT</li>
		    		</ul>
		    	</div>
		    </div>
		</div>
		<div class="column content">

			{{{ body }}}

		</div>
	</div>
</body>
</html>