<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Desmond Ross</title>
    <link rel="stylesheet" type="text/css" href="dist/css/styles.css">
    <link rel="stylesheet" href="third-party/Ideal-Image-Slider-JS/ideal-image-slider.css">
	<link rel="stylesheet" href="third-party/Ideal-Image-Slider-JS/themes/default/default.css">
	<link rel="stylesheet" href="third-party/flexboxgrid-6.3.1/css/flexboxgrid.css" type="text/css">
</head>
<body>
<div class="main">
	<div class="nav">
		<h1><span>Desmond</span> Ross</h1>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="collections">Collections</a></li>
			<li><a href="prices">Prices</a></li>
			<li><a href="about">About</a></li>
			<li>Contact</li>
		</ul>
	</div>
	<div class="content">

	{{{ body }}}

	</div>
</div>
<script src="third-party/Ideal-Image-Slider-JS/ideal-image-slider.js"></script>
<script type="text/javascript" src="dist/js/index.js"></script>
</body>
</html>