<h2 class="title">COLLECTIONS</h2>
<div class="row">
	<div class="col-md-3 col-md-offset-1 img-sml" onclick="window.location='collection';">
		<div class="left-arrow"></div>
		<div class="overlay">
			<p>New In</p>
		</div>
	</div>
	<div class="col-md-3 img-sml" onclick="window.location='collection';">
		<div class="left-arrow"></div>
		<div class="overlay">
			<p class="lg-text">Liverpool Monuments</p>
		</div>
	</div>
	<div class="col-md-3 img-sml" onclick="window.location='collection';">
		<div class="left-arrow"></div>
		<div class="overlay">
			<p class="med-text">Historic Buildings</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-md-offset-1 img-sml" onclick="window.location='collection';">
		<div class="left-arrow"></div>
		<div class="overlay">
			<p class="med-text">Wavertree Parks</p>
		</div>
	</div>
	<div class="col-md-3 img-sml" onclick="window.location='collection';">
		<div class="left-arrow"></div>
		<div class="overlay">
			<p class="med-text">Liverpool Streets</p>
		</div>
	</div>
	<div class="col-md-3 img-sml" onclick="window.location='collection';">
		<div class="left-arrow"></div>
		<div class="overlay">
			<p class="med-text">Famous Figures</p>
		</div>
	</div>
</div>
