<h2>Collections</h2>
<div class="collections">
	<div class="img-sml" data-collection="newIn" onclick="chooseCollection(this)">
		<div class="left-arrow"></div>
		<div class="overlay">
			<p class="med-text">New In</p>
		</div>
	</div>
	<div class="img-sml" data-collection="liverpoolMonuments" onclick="chooseCollection(this)">
		<div class="left-arrow"></div>
		<div class="overlay">
			<p class="lg-text">Liverpool Monuments</p>
		</div>
	</div>
	<div class="img-sml" data-collection="historicBuildings" onclick="chooseCollection(this)">
		<div class="left-arrow"></div>
		<div class="overlay">
			<p class="med-text">Historic Buildings</p>
		</div>
	</div>
	<div class="img-sml" data-collection="wavertreeParks" onclick="chooseCollection(this)">
		<div class="left-arrow"></div>
		<div class="overlay">
			<p class="med-text">Wavertree Parks</p>
		</div>
	</div>
	<div class="img-sml" data-collection="liverpoolStreets" onclick="chooseCollection(this)">
		<div class="left-arrow"></div>
		<div class="overlay">
			<p class="med-text">Liverpool Streets</p>
		</div>
	</div>
	<div class="img-sml" data-collection="famousFigures" onclick="chooseCollection(this)">
		<div class="left-arrow"></div>
		<div class="overlay">
			<p class="med-text">Famous Figures</p>
		</div>
	</div>
</div>
