<div class="contact">
  <h2>Contact</h2>
  <p class="subheading">For any enquiries about the paintings, please email us at contact@desmondross.co.uk.</p>
  <p class="subheading">Or you can fill out this form and we will get back to you as soon as we can:</p>
  <form>
    <select>
      <option value="" disabled selected>SELECT ENQUIRY</option>
      <option value="purchase">I WANT TO PURCHASE</option>
      <option value="enquiry">GENERAL ENQUIRY</option>
    </select>
    <input type="text" placeholder="YOUR EMAIL">
    <textarea rows="6" cols="30" placeholder="YOUR MESSAGE"></textarea>
    <input type="submit" value="SEND">
  </form>
</div>
