<div class="contact">
  <h2>Contact</h2>
  <p>For any enquiries about the paintings, please email us at contact@desmondross.co.uk.</p>
  <p>Or you can fill out this form and we will get back to you as soon as we can:</p>
  <form>
    <select>
      <option value="purchase">I want to purchase</option>
      <option value="enquiry">General Enquiry</option>
    </select>
    <input type="text">
    <textarea rows="6">
    </textarea>
  </form>
</div>
