<h2 class="home-title">Home</h2>
<div class="sliderBorder">
	<div id="slider">
		<img src="assets/picton-clock-tower.jpg">
		<img src="assets/cameo.jpg" src="">
		<img data-src="assets/blue-coat-school.jpg" src="">
	</div>
</div>