<div class="home">
    <h2>Home</h2>
    <div class="featured">
        <h3>Featured Images</h3>
        <div class="collage-position">
            <div class="collage">
                <a href="#">
                    <img src="assets/high-street-wavertree.jpg" alt="Collage Photo">
                </a>
                <a href="#">
                    <img src="assets/falling-star.jpg" alt="Collage Photo">
                </a>
                <a href="#">
                    <img src="assets/hairdresser.jpg" alt="Collage Photo">
                </a>
                <a href="#">
                    <img src="assets/the-wellington.jpg" alt="Collage Photo">
                </a>
                <a href="#">
                    <img src="assets/victorian-letterbox.jpg" alt="Collage Photo">
                </a>
            </div>
        </div>
    </div>
</div>
