<h2>Prices</h2>
<p class="centred subheading">To place an order and for further pricing enquiries please email contact@desmondross.co.uk</p>
<div class="prints">
	<div class="img-sml prices">
	</div>
	<div class="med-print-text">
		<h3>Medium Unframed Print</h3>
		<p>16in x 11.75in</p>
		<p>40.6cm x 29.8cm</p>
		<p>£28</p>
	</div>
</div>
<div class="prints">
	<div class="lg-print-text">
		<h3>Large Unframed Print</h3>
		<p>22.5in x 15in</p>
		<p>57.2cm x 38cm</p>
		<p>£45</p>
	</div>
	<div class="img-sml prices">
	</div>
</div>
